:root {
   --color-primary: #222831; 
   --color-secondary: #393E46;
   --color-tertiary: #D65A31;
   --color-text: #EEEEEE;
   --color-text-darker: #a4a7ac;
   --color-primary-alpha: #22283186;
   --color-tertiary-alpha: #d65a3186;
   --color-tertiary-hover: #c04b24;
   --color-disabled:#e03023a8;

   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: var(--color-text);
   background-color: var(--color-primary);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

body {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--color-tertiary);
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   background-color: var(--color-primary);
   border-radius: 10px;
   border-width: 1px;
   border-style: solid;
   border-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--color-tertiary-hover);
}