<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>fDet</title>
    </head>
    <body>
        <h1>fDet Official</h1>

        <h2>Logged in user: {{ request.user }}</h2>

        {% block content %}
        <!-- Being replaced from other templates -->

        {% endblock %}

        <p>Actually Works</p>
    </body>
</html>